body{
    margin-top: 300px;
}

h1{
    font-family: 'Arial';
    text-align: center;
    letter-spacing: 2px;
}

/*Alinhamento centralizado do formulário*/
form div{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Formatação do campo de pesquisa*/
.pesquisa input{
    width: 500px;
    padding: 14px;
    border-radius: 24px;
    border: solid 2px black;
}

form input:focus{
    background-color: aliceblue;
}

.botao input{
    border-radius: 5px;
    padding: 9px;
    width: 90px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'arial';
    font-size: 14px;
}